.tasker {
    text-align: center;
}

.tasker__timer-paper {
    display: table;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
    font-size: 25px;
}

.tasker__time-value {
    display: table-cell;
    vertical-align: middle;
    color: #3249c7;
}

.tasker__text-field label {
    width: 100%;
}

.tasker__table-wrapper {
    width: 75%;
    margin: 25px auto;
    text-align: center;
}

.tasker__tbody {
    background-color: #e9f6ff;
}

.tasker__table-btn {
    margin: 18px auto;
}
