.tasker {
    text-align: center;
}

.tasker__timer-wrapper {
    display: table;
    width: 250px;
    height: 250px;
    margin: 25px auto;
    background-color: #e0e0e0;
    color: #3249c7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.tasker__timer-paper {
    height: 250px;
    width: 250px;
    font-size: 25px;
    margin: 20px auto;
    text-align: center;
    display: table;
}

.tasker__time-value {
    display: table-cell;
    vertical-align: middle;
    color: #3249c7;
}

.tasker__timer-hours,
.tasker__timer-minutes,
.tasker__timer-seconds {
    font-size: 30px;
}

.tasker__text-field label{
    width: 100%;
}

.tasker__table-wrapper {
    width: 75%;
    margin: 25px auto;
    text-align: center;
}

.tasker__table-btn {
    margin: 18px auto;
}
